body {
    background-color: palegreen;
    margin: auto;
    width: 700px;
    height: 500px;
}

img {
  width: 537px;
}

a button {
  margin-top: 100px;
  margin-left: 200px;
}

form {
  margin: auto;
  margin-top: 100px;
}