<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RickRoll</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Hello<%- name %> want some free RAM?</h1>

    <!-- <img src="meme.png"> -->
    <img src="meme.png" alt="" width="500px" />

    <form action="/" method="post">
        <input type="text" name="name" placeholder="Namn">
        <input type="email" name="email" placeholder="example@email.com">
        <input type="number" name="age" placeholder="0">
        <button type="submit">Enter</button>
    </form>
    <a href="messages">
        <button type="submit">Post message here!</button>
    </a>

    <a href="register">
        <button type="submit">Register here!</button>
    </a>
    
    <a href="login">
        <button type="submit">Login here!</button>
    </a>

</body>
</html>